#carousel {
    margin: 20px auto;
    padding: 0;
    border: 1px solid #ccc;
    height: 400px;
    width: 600px;
    overflow: hidden;
    position: relative;
}

ul {
    padding: 0;
    margin: 0;
    width: 3000px
}

img {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: block;
}

li {
    display: inline;
}

ul>li {
    list-style: none;
    float: left;
}
